# compiled output
/dist
/tmp
/out-tsc
/bazel-out
/.angular

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
.nbproject/
*.swp
*.kenv
*.tmp
*.bak
*.orig
*.log
.DS_Store

# System Files
Thumbs.db
Desktop.ini
