html {
    font-size: 14px;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background: var(--surface-ground);
    padding: 0;
    margin: 0;
    line-height: 1.2;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";

}

a {
    text-decoration: none;
}

img {
    max-width: none !important;
}
