@use '../_sass_variables' as *;

.layout-sidebar {
    margin-left: 0;
    width: 15rem;
    height: 100%;
    border-radius: 0 1.5rem 1.5rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    user-select: none;
    transition: margin 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
    transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);

    .logo {
        text-align: center;
        display: flex;
        outline: 0 none;
        padding: 0.75rem 0.75rem;
        transition: background-color var(--transition-duration),
        box-shadow var(--transition-duration);
    }

    .logo-image {
        width: 4.5rem;
        height: 4.5rem;
        vertical-align: middle;
        margin-right: .5rem;
    }

    .app-name {
        vertical-align: middle;
        font-size: 3.5rem;
        letter-spacing: 0.2px;
    }

    .sidebar-footer {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--surface-border);

        .menu-button {
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color var(--transition-duration);
            color: var(--text-color);

            &:hover {
                background-color: var(--surface-hover);
            }

            i {
                font-size: 1.15rem;
            }
        }
    }
}

.layout-menu-container {
    overflow: auto;
    flex: 1;
    padding: 0.75rem;

    /* keep scrolling, hide visible scrollbars for a cleaner UI */
    -ms-overflow-style: none; /* IE/Edge legacy */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Chrome/Safari */
    }
}

.layout-content {
    .layout-breadcrumb {
        display: none;
    }
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .menu-separator {
        margin: 0.875rem 0;
    }

    .layout-root-menuitem {
        > .layout-menuitem-root-text {
            font-size: 0.75rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.05rem;
            padding: 0rem 0 0.5rem 0;
        }

        > a {
            display: none;
        }

        .layout-menu-tooltip {
            display: none;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        a {
            display: flex;
            align-items: center;
            position: relative;
            font-weight: 500 !important;
            padding: 0.5rem 0.65rem;
            border-radius: 99px;
            box-shadow: none !important;
            cursor: pointer;
            transition: background-color var(--transition-duration),
            box-shadow var(--transition-duration);

            .layout-menuitem-icon {
                margin-right: 0.5rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform var(--transition-duration);
            }
        }

        li {
            &.active-menuitem {
                border-radius: 99px;

                > a {
                    .layout-submenu-toggler {
                        transform: rotate(-180deg);
                    }
                }

                > ul {
                    max-height: 1000px;
                    transition: max-height 1s ease-in-out;
                }

                &:has(ul) {
                    border-radius: 10px;
                }

            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;
            border-radius: 6px;

            li {
                a {
                    padding-left: 2.5rem;
                }

                li {
                    a {
                        padding-left: 3.5rem;
                    }

                    li {
                        a {
                            padding-left: 4.5rem;
                        }

                        li {
                            a {
                                padding-left: 5.5rem;
                            }

                            li {
                                a {
                                    padding-left: 6.5rem;
                                }

                                li {
                                    a {
                                        padding-left: 7.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
